
/* * {
    background-color: #E3FFF8;
} */

body{
    background-color: var(--backgroud--1);
    color: black;

}
.cabecalho{
    color: #1F1534;
    
}
.cabecalho_menu{
    color: #1F1534;
}

.hero{

    color: var(--black);

}
.hero h1{

    color: var(--black);


}
.hero h1 span{

    color: #89C5CC;
}
.hero_texto{

    color: #7D7987;
}
.hero_link{

    background-color: #69B99D;
    color: #F9F9F9;

}

.rodape{
    color: #000000;
}
.rodape_texto{
    color: #000000;
}

